{% extends 'base.html' %}

{% block title %}Edit Tag{% endblock %}

{% block content %}

<h1 class="spacing">Edit tag</h1>

<form method="POST" action="/tags/{{ tag.id }}/edit">

  <div class="form-group row spacing">
    <label for="name" class="align-items-center">
      Name
    </label>
    <div>
      <input type="text" 
             class="form-control" 
             id="name" 
             name="name" 
             placeholder="category"
             value="{{ tag.name }}">
    </div>
  </div>

  <div class="form-group row form-check spacing">
    {% for post in posts %}
    <div>
      <input
              class="form-input"
              type="checkbox"
              value="{{ post.id }}"
              id="post_{{ post.id }}"
              name="posts"
              {% if post in tag.posts %}
              checked
              {% endif %}
      >
      <label class="form-check-label" for="post_{{ post.id }}">
        {{ post.title }}
      </label>
    </div>
    {% endfor %}
  </div>

  <div class="mt-3 form-group row spacing">
    <div class="ml-auto mr-3">
      <a href="/tags" class="btn btn-info">Cancel</a>
      <button type="submit" class="btn btn-success">Edit</button>
    </div>

  </div>

</form>

{% endblock %}