.spacing {
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	font-family: 'Supermercado One', cursive;
}

ul {
	font-size: 1.25em;
	font-family: 'Supermercado One', cursive;
}

.title {
	text-decoration: underline;
}
